@import './fonts.css';

@media only screen {
    /* .analytics {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
        background-color: #141148;
    }

    .ntitle {
        text-align: start;
        color: #e45f26;
        font-family: 'sfb';
        font-size: 20px;
    } */
}